/Sprint 1 Submission
/EcoExe copy
/EcoExe/accounts/__pycache__/
/EcoExe/EcoExe/__pycache__
/EcoExe/gamekeeper/__pycache__
/EcoExe/points/__pycache__
/EcoExe/quiz/__pycache__
/EcoExe/sortit/__pycache__
/EcoExe/treasurehunt/__pycache__