<!-- Authored by George Piper and Jack Hales -->

{% extends "base_treasurehunt.html" %}

{% block title %}HTML Geolocation{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static '/treasurehunt/js/location.js' %}">
        const validateURL = "{% url 'validate' %}/";
    </script>
{% endblock %}

{% block index %}
<h1>HTML Geolocation</h1>
<p>Click the button to get your coordinates.</p>
<br>
<button onclick="getLocation()">Try It</button>
<p id="demo"></p>
<br>
<a href="/accounts/dashboard">Back to dashboard</a>
{% endblock %}