<!DOCTYPE HTML>

<html>
    <head>
        {% load static %}
        <!--<link rel="stylesheet" href="{% static 'sortit/css/sortit.css' %}" />-->

        <link href='https://fonts.googleapis.com/css?family=Bubblegum Sans' rel='stylesheet'>
        <!-- adds bubble font as an option -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" media="screen"/>
        <!-- Twitter bootstrap for columns and page layout -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Fill mobile view -->

        <link rel="stylesheet" href="{% static 'sortit/css/sortit.css' %}" />

    </head>
    <body>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center" id="banner" >
                <h1 id="banner-info">
                    Sort trash into the correct bins as it falls! Don't let it get to the sea!
                </h1>
                <h2 id="lives" class="tidyfont">Lives</h2>

            </div>
          </div>
          <div class="row">
            <div class="col-xs-3 binzone" style="height:100vh;">left</div>
            <div class="col-xs-6 fallzone" style="height:100vh;">
                <div id="trash-generator" class="fill">
                    <img src="{% static 'images/trash_source.png' %}">
                </div>
                <!--
                <canvas id="canvas" style="height:100vh; width: 100%;">
                    <img src="{% static 'images/trash.png' %}" class="trash">
                    <img src="{% static 'images/trash.png' %}" class="trash">
                    <img src="{% static 'images/trash.png' %}" class="trash">
                </canvas>
                -->
                <img src="{% static 'images/trash.png' %}" class="trash">
                <img src="{% static 'images/trash.png' %}" class="trash">
                <img src="{% static 'images/trash.png' %}" class="trash">
            </div>
            <div class="col-xs-3 binzone" style="height:100vh;">Right </div>
          </div>
          <div class="row">
            <div class="wave-container" id="deathzone">
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                <use xlink:href="#gentle-wave" x="20" y="0" fill="rgba(100,100,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(100,100,255,0.5)" />
                <use xlink:href="#gentle-wave" x="20" y="4" fill="rgba(0,150,255,0.4)" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(100,100,255,1.4)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(100,100,255,0.3)" />
                <use xlink:href="#gentle-wave" x="42" y="6" fill="rgba(100,100,255,0.9)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#0044f5" />
                </g>
                </svg>
            
                <!--Waves Container-->
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                </svg>
                <!--Waves end-->
            </div>
          </div>
        </div>
        <script src="{% static 'js/gamescript.js' %}">
        </script> 
    </body>
    
</html>