
<!DOCTYPE HTML>

<html>
    <head>
        {% load static %}
        <!--<link rel="stylesheet" href="{% static 'sortit/css/sortit.css' %}" />-->

        <link href='https://fonts.googleapis.com/css?family=Bubblegum Sans' rel='stylesheet'>
        <!-- adds bubble font as an option -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" media="screen"/>
        <!-- Twitter bootstrap for columns and page layout -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Fill mobile view -->

        <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
        <link rel="stylesheet" href="{% static 'sortit/css/sortit.css' %}" />
    </head>
    <body>
      
        <div class="container stop-overflow">
          <div class="row">
            <div class="col-xs-12 text-center front stop-overflow" id="banner" >
              <h1 id="banner-info">
                Catch the rubbish before it falls in the quay!<br>
                Points: 0
                Lives: 3
              </h1>
            </div>
          </div>

          <button id="btnStart">Start Game</button>
          <form method = "post">
            {%csrf_token%}
            <input id='hunt' type = 'hidden' name="hunt" value={{hunt}}>
            <button type="submit" id="btnExit">Continue</button>
          </form>

          <div id="game">
            <audio loop src="{% static 'sortit/audio/background_loop.mp3' %}" id="background-loop"></audio>
            <audio src="{% static 'sortit/audio/game_over.mp3' %}" id="game-over"></audio>
            <audio src="{% static 'sortit/audio/life_lost.mp3' %}" id="life-lost"></audio>

            <img src="{% static 'sortit/images/banana.png' %}" class="trash" style="top:0vh; left:0vw; opacity: 100;">
            <img src="{% static 'sortit/images/banana.png' %}" class="trash" style="top:0vh; left:0vw; opacity: 100;">
            <img src="{% static 'sortit/images/banana.png' %}" class="trash" style="top:0vh; left:0vw; opacity: 100;">
            <img src="{% static 'sortit/images/banana.png' %}" class="trash" style="top:0vh; left:0vw; opacity: 100;">
            
            <img src="{% static 'sortit/images/bin.png' %}" id="bin">
            <div class="row stop-overflow">
              <div class="wave-container stop-overflow" id="deathzone" >
                  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                  <defs>
                  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                  </defs>
                  <g class="parallax">
                  <use xlink:href="#gentle-wave" x="20" y="0" fill="rgba(100,100,255,0.7" />
                  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(100,100,255,0.5)" />
                  <use xlink:href="#gentle-wave" x="20" y="4" fill="rgba(0,150,255,0.4)" />
                  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(100,100,255,1.4)" />
                  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(100,100,255,0.3)" />
                  <use xlink:href="#gentle-wave" x="42" y="6" fill="rgba(100,100,255,0.9)" />
                  <use xlink:href="#gentle-wave" x="20" y="1" fill="rgba(100,100,255,0.7" />
                  <use xlink:href="#gentle-wave" x="48" y="2" fill="rgba(100,100,255,0.5)" />
                  <use xlink:href="#gentle-wave" x="20" y="5" fill="rgba(0,150,255,0.4)" />
                  <use xlink:href="#gentle-wave" x="48" y="4" fill="rgba(100,100,255,1.4)" />
                  <use xlink:href="#gentle-wave" x="48" y="9" fill="rgba(100,100,255,0.3)" />
                  <use xlink:href="#gentle-wave" x="42" y="12" fill="rgba(100,100,255,0.9)" />
                  <use xlink:href="#gentle-wave" x="48" y="7" fill="#0044f5" />
                  </g>
                  </svg>
              
                  <!--Waves Container-->
                  <svg class="waves" id="waves-bottom" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                  <defs>
                  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                  </defs>
                  </svg>
                  <!--Waves end-->
                  <div class="water">
                  </div>
              </div>
              
            </div>
          </div>
        </div>
        <script src="{% static 'sortit/js/sortit.js' %}">
        </script>
        
    </body>
    
</html>