.bg-primary {
    background-color: #00cda5
}

.bg-secondary {
    background-color: #007d69
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

h1 {
    color: #ccffbb;
}

h2 {
    color: #eeffee
}