/* Authored by James Sadler */
h1 {
    font-size: larger;
}

h2 {
    font-size: large;
}

h3 {
    font-size: medium;
}

h4 {
    font-size: small;
}

h5 {
    font-size: smaller;
}

h6 {
    font-size: x-small;
}

p {
    font-size: small;
}
