<html>
  <head title="{% block title %}{%endblock%}">
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  {% load static %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/colours.css' %}" />
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
  <link rel="stylesheet" href="{% static 'accounts/css/base.css' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit" />
</head>
  <body id="bg-primary">
    <div class="login-form">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>