<!-- Authored by Sam Arrowsmith, Jack Hales -->

{% extends "base_dashboard.html" %}

{% block navbar_head %}

    {% load static %}
    <script src="{% static 'js/navbar_mobile_menu.js' %}" defer></script>

    {% if user.is_authenticated %}
        <!-- This 'if' block will redirect any page in the site to the login/signup if the user is not authenticated -->
        <base href="/">

    {% else %}
        <meta http-equiv="refresh" content="0; URL={% url 'loginpage' %}"/>
    {% endif %}

{% endblock %}

{% block navbar_body %}

    {% if user.is_authenticated %}
    <!-- Nav tag encloses the desktop navbar -->
    <nav class="background-primary navbar">
        <a href="{% url 'dashboard' %}" id="logo">
            <img src="{% static 'images/logo-no-bg.png' %}" id="logo-image">
        </a>
        
        <div id="links">
            <img
                style="width: 50px; height: 50px;"
                src="{{ user.avatar.url }}"
            />
            <h2>
                <a href="{% url 'profile' %}" style="text-decoration: none;">Profile: <i>{{user.username}}</i></a>
            </h2>
            <h2>
                <a href="{% url 'logout' %}" style="text-decoration: none;">Sign Out</a>
            </h2>
            <button id="mobile-menu-btn" class="background-secondary">Menu</button>
        </div>
        
    </nav>
    <!-- above is for desktop, below is the mobile view -->
    <div class="mobile-menu background-secondary" style="display: none;">
        <a href="{% url 'profile' %}" style="text-decoration: none;">Profile: <i>{{user.username}}</i></a>
        <a href="{% url 'privacy' %}" style="text-decoration: none;">Privacy Policy</a>
        <a href="{% url 'logout' %}">Sign Out</a>
    </div>
    
    {% block maincontent %}
    {% endblock %}

    {% else %}
    {% endif %}
    

{% endblock %}