<!-- Authored by Jack Hales, George Piper, James Sadler -->

{% extends "base_accounts.html" %}

{% block title %}Enter New Password{% endblock %}

{% block form %}

{% if validlink %}

<h1>Set a New Password</h1>
<br>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" class="button" value="Change my password">
</form>

{% else %}

<h1>Invalid Password Reset Link</h1>
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
<br>
<a href="/">Back to homepage</a>

{% endif %}
{% endblock %}