<!-- Authored by James Sadler -->
{% extends "base_accounts.html" %}
{% block title %}Profile{% endblock %}

{% block form %}
    <h1>Update Profile</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label class="">Username:</label>
            {{ user_form.username }}
        <br>
        <label class="">Email:</label>
            {{ user_form.email }}
        <br>
        <label class="">Change Avatar:</label>
            {{ user_form.avatar }}
        <br>
        <button type="submit">Save Changes</button>
    </form>
    <a href="/accounts/password_change">Change password</a>
    <br>
    <a href="/accounts/delete_account">Delete account</a>
    <br><br>
    <a href="/accounts/dashboard">Back to dashboard</a>
{% endblock form %}
