{% extends "base.html" %}
{% block title %}Password Change{% endblock %}

{% block content %}
<h2>Password Change</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block mb-3">Change Password</button>
    </form>
{% endblock %}