<style>
    .option{
        color: red;
        padding: 20px;
        display: none;
        margin-top: 20px;
    }
    .quiz{ padding: 20px;}
    .trivia{ padding: 20px; }

</style>
<html>
    <head>
        <title>Create a QR Code</title>
        {% load static %}
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="{% static '/gamekeeper/js/qrcreate.js' %}"></script>
    </head>
    <body>
        <h1>Create a QR code with a custom activity - these can then be used to compose a treasure hunt!</h1>
        <!-- <form method="post" id="create-qr">
            {% csrf_token %}
            <div id="forms">
                {{ form.as_p }}
            </div>
           
            <input type="submit" />
        </form> -->
        <div>
            <select id="activity_selection">
                <option value="quiz">Quiz</option>
                <option value="trivia">Trivia</option>
            </select>
        </div>
        <div class="quiz option">
            <select>
                {% for x in quiz_files %}
                    <option value=x>{{ x }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="trivia option">
            You have selected <strong>green option</strong> so i am here
        </div>
    </body>
</html>