{% load static %}
<script src="{% static '/gamekeeper/js/qrlink.js' %}"></script>

<h1>Link qr codes to create a treasure hunt!</h1>
<form method = "post">
    {% csrf_token %}
    <label for="treasure_hunt_name">Name of treasure hunt:</label>
    <input name = "treasure_hunt_name">
    <br>
    <label for="bonus_points" type = "number">Number of bonus points:</label>
    <input name = "bonus_points">
    <br>
    <label for="field_1">QR code 1:</label>
    <select>
        <!-- Load in the QR codes -->
        <option>Hello</option>
    </select>
    <div id="forms">
        {{ form.as_p }}
    </div>
    <input type="hidden" name="extra_field_count" value="0">
    <button type="button" id="add-another">Add Question</button>
    <input type="submit" class="button" value="Submit"/>
</form>