<!-- authored by Daniel Harkness-Moore -->

{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel="stylesheet" href="{% static 'css/qrreader.css' %}" />
	</head>

	<body>
		<h1>Quiz homepage</h1>
		<div class='container'>
			<h1>Scan QR Codes</h1>
			<div class='section'>
				<div id='reader'></div>
				<div id='questiondiv' hidden></div>
			</div>
		</div>
		<script src="https://unpkg.com/html5-qrcode" type='text/javascript'></script>
		<script src="https://code.jquery.com/jquery-3.7.1.js" type='text/javascript'></script>
		<script>
			const reader = new Html5Qrcode('reader');
			var responseReceived = false;
			if(!responseReceived) {
				function qrCodeSuccessCallback(decodedText,decodedResult) {
					if(!responseReceived) {
						responseReceived = true;
							var csrftoken = jQuery('[name=csrfmiddlewaretoken]').val();
					
						function getResponseReceived() {
							return responseReceived;
						}
						
						function csrfSafeMethod(method) {
							return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
						}
						
						$.ajaxSetup({
							beforeSend: function(xhr,settings) {
								if(!csrfSafeMethod(settings.type) && !this.crossDomain) {
									xhr.setRequestHeader('X-CSRFToken',csrftoken);
								}
							}
						});
						
						$.ajax({
							url: "{% url 'get_quiz' %}",
							data: {
								'getdata': JSON.stringify(decodedText),
							},
							dataType: 'json',
							success: function(res,status) {
								const readerdiv = document.getElementById('reader');
								const questiondiv = document.getElementById('questiondiv');
								let score = 0;
								readerdiv.hidden = true;
								questiondiv.hidden = false;
								
								const question = document.createElement('h2');
								const answerlist = document.createElement('ul');
								
								function* getQuestion(quiz, question_index) { // generator 
									while(question_index < quiz['questions'].length) {
										question.appendChild(document.createTextNode(quiz['questions'][question_index]));
										questiondiv.appendChild(question);
										//console.log(question_index);
										
										for(var i in quiz['answers'][question_index]) {
											let answernode = document.createElement('li');
											let answerbutton = document.createElement('input');
											answerlist.appendChild(answernode);
											answerbutton.type='button';
											answerbutton.value=quiz['answers'][question_index][i]; // adds choice to button
											
											if(i == quiz['correct'][question_index]) { // checks if index of correct answer is the same as the correct choice
												answerbutton.onclick = function() {
													alert('correct');
													answerlist.innerHTML = ''; // clears list
													question.innerHTML = ''; // clears question
													answered = true;
													//console.log(question_iterator.next().value); // goes to next question
												}
											} else {
												answerbutton.onclick = function() {
													alert('faillllll');
													answerlist.innerHTML = ''; // clears list
													question.innerHTML = ''; // clears question
													answered = true;
													//console.log(question_iterator.next().value); // goes to next question
												}
											}
											answernode.appendChild(answerbutton);
										}

										questiondiv.appendChild(answerlist);
										yield question_index;
										question_index++;
									}
								}
								
								var question_iterator = getQuestion(res, 0);
								
								console.log(question_iterator.next().value);
								//console.log(question_iterator.next().value);
							},
							error: function(err) {
								alert('error: ' + err.status);
							}
						});
					}
				}
			}
			const config = {
				fps:10,
				qrbox: {
					width:250,
					height:250
				}
			};

			reader.start({facingMode:'user'},config,qrCodeSuccessCallback).catch(err => {alert(err);});


			reader.stop().catch(err => {
				alert('stop failed');
			});
		</script>
	</body>
</html>