{% load tags %}
{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel="stylesheet" href="{% static 'css/qrreader.css' %}" />
	</head>

	<body>
		<h1>Quiz homepage</h1>
		<div class='container'>
			<h1>Scan QR Codes</h1>
			<div class='section'>
				<div id='reader'></div>
				<div id='questiondiv' hidden></div>
			</div>
		</div>
		<script src="https://unpkg.com/html5-qrcode" type='text/javascript'></script>
		<script src="https://code.jquery.com/jquery-3.7.1.js" type='text/javascript'></script>
		<script>
			const reader = new Html5Qrcode('reader');
			var responseReceived = false;
			if(!responseReceived) {
				function qrCodeSuccessCallback(decodedText,decodedResult) {
					if(!responseReceived) {
						responseReceived = true;
							var csrftoken = jQuery('[name=csrfmiddlewaretoken]').val();
					
						function getResponseReceived() {
							return responseReceived;
						}
						
						function csrfSafeMethod(method) {
							return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
						}
						
						$.ajaxSetup({
							beforeSend: function(xhr,settings) {
								if(!csrfSafeMethod(settings.type) && !this.crossDomain) {
									xhr.setRequestHeader('X-CSRFToken',csrftoken);
								}
							}
						});
						
						$.ajax({
							url: "{% url 'get_quiz' %}",
							data: {
								'getdata': JSON.stringify(decodedText),
							},
							dataType: 'json',
							success: function(res,status) {
								const readerdiv = document.getElementById('reader');
								const questiondiv = document.getElementById('questiondiv');
								readerdiv.hidden = true;
								questiondiv.hidden = false;
								
								const question = document.createElement('h2');
								question.appendChild(document.createTextNode(res['questions']));
								questiondiv.appendChild(question);
								const answerlist = document.createElement('ul');
								
								for(var i in res['answers']) {
									let answernode = document.createElement('li');
									let answerbutton = document.createElement('input');
									answerlist.appendChild(answernode);
									answerbutton.type='button';
									answerbutton.value=res['answers'][i];
									if(i == res['correct']) {
										answerbutton.onclick = function() {
											alert('correct');
										}
									} else {
										answerbutton.onclick = function() {
											alert('faillllll');
										}
									}
									answernode.appendChild(answerbutton);
								}
								
								questiondiv.appendChild(answerlist);
							},
							error: function(err) {
								alert('error: ' + err.status);
							}
						});
					}
				}
			}
			const config = {
				fps:10,
				qrbox: {
					width:250,
					height:250
				}
			};

			reader.start({facingMode:'user'},config,qrCodeSuccessCallback).catch(err => {alert(err);});


			reader.stop().catch(err => {
				alert('stop failed');
			});
		</script>
	</body>
</html>