<!--Authored by George Piper, James Sadler and Jack Hales-->

{% extends "base_gamekeeper.html" %}

{% block title %}Create a Quiz{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static '/gamekeeper/js/create.js' %}"></script>
{% endblock %}

{% block index %}
<h1>Create a Quiz</h1>
<br>
<p>Please enter the correct answer in the first answer box.</p>
<form method="post">
    {% csrf_token %}
    <div id="forms">
        {{ form.as_p }}
    </div>
    <input type="hidden" name="extra_field_count" value="0">
    <button type="button" id="add-another">Add Question</button>
    <input type="submit" class="button" value="Submit" id="create-quiz-submit"/>
</form>
<a href="/gamekeeper/dashboard">Back to dashboard</a>
{% endblock %}