/* Authored by Sam Arrowsmith */
.background-primary {
    background-color: #003c3c;
}

.background-secondary {
    background-color: #00dca5;
}

#logo-image {
  width: auto;
  height: 4rem;
  display: inline-block;
  vertical-align: middle;
  margin: 1rem;
}

#logo {
  display: inline-block;
  justify-content: left;
}

/*
Below will style the DOM elements for mobile views
*/
nav .links {
    display: flex;
}
#mobile-menu-btn {
    display: none;
}
.mobile-menu {
    display: none;
    position: absolute;
    right: 0;
}

.mobile-menu a {
  padding: 2vh;
  width: 40vw;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 750px) {
  #logo-image {
    height: 3rem;
    margin: 0.5rem;
  }

  #mobile-menu-btn {
    display: block;
    margin-left: auto;
  }
  nav a {
    display: none;
  }
  .mobile-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar h2 a {
  font-weight: bold;
  color: #ffffff;
  padding: 1rem;
}

.navbar h2 a:hover {
  background-color: #002727;
  color: #ffffff;
}

#links {
  display: flex;
  justify-content: flex-end;
}

body {
    /*background-color: #3498DB;*/
    overflow: hidden;
  }
  

  .dropdiv {
    margin: 175px auto;
  }
  
  
.wave {
  position: relative;
  opacity: 0;
  top: 0;
	width: 2px;
	height: 1px;
  border: #FFF 7px solid;
	-moz-border-radius: 300px / 150px;
	-webkit-border-radius: 300px / 150px;
	border-radius: 300px / 150px;
  -moz-animation-name: ripple;
  -webkit-animation-name: ripple;
  animation-name: ripple;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.wave:after {
  content: "";
  position: absolute;
  opacity: 0;
  top: -5px;
  left: -5px;
	width: 2px;
	height: 1px;
  border: #FFF 5px solid;
	-moz-border-radius: 300px / 150px;
	-webkit-border-radius: 300px / 150px;
	border-radius: 300px / 150px;
  -moz-animation-name: ripple-2;
  -webkit-animation-name: ripple-2;
  animation-name: ripple-2;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes ripple {
    from {
      opacity: 1;
    }
    to {
      width: 600px;
      height: 300px;
      border-width: 1px;
      top: -100px;
      opacity: 0;
    }
}

@keyframes ripple-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  100% {
    width: 200px;
    height: 100px;
    border-width: 1px;
    top: 100px;
    left: 200px;
  }
}

@keyframes drip {
    to {
      top: 190px;
    }
}