/* Authored by Sam Arrowsmith */
.bg-primary {
    background-color: #003c3c;
}

.bg-secondary {
    background-color: #00DCA5;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

#override {
	background-color: green;
}

h1 {
    color: #ccffbb;
}

h2 {
    color: #eeffee
}
