#bg-primary {
    background-color: green;
}

.bg-secondary {
    background-color: purple;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

h1 {
    color: #ccffbb;
}

h2 {
    color: #eeffee
}