<!-- Authored by Sam Arrowsmith and Jack Hales -->

{% extends "base_quiz.html" %}

{% block title %}Daily Quiz{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static '/quiz/js/daily_quiz.js' %}"></script>
{% endblock %}

{% block index %}
<h1>Daily Quiz</h1>

{% if not questions %}
    <div id="already-completed">
        <br>
        <p>You have already completed the daily quiz for today.</p>
        <p>Please check back tomorrow for a new daily quiz!</p>
        <br>
        <a href="/accounts/dashboard">Back to dashboard</a>
    </div>
{% else %}
    <div id="daily-quiz-subheading">
        <h3>Press Start to begin.</h3>
        <br>
        <p>The quiz will automatically submit when the time limit expires.</p>
        <p>The time limit for this quiz is: {{time_limit}} seconds.</p>
        <br>
        <button type="button" id="start">Start Quiz</button>
        <br>
        <br>
        <a href="/accounts/dashboard">Back to dashboard</a>
    </div>

    <form method="post" id="daily_quiz" hidden>
        <p id="display-timer">Time limit: {{time_limit}} seconds</p>
        <input id='timer' type='hidden' name="timer" value="">
        {% csrf_token %}
        {% for q in questions %}
        <div class="form-group">
        <label for="question">{{q.question}}</label>
        </div>
        <div class="form-check">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="{{q.op1}}">
                <label class="form-check-label" for="gridRadios1">
                    {{q.op1}}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="{{q.op2}}">
                <label class="form-check-label" for="gridRadios2">
                    {{q.op2}}
                </label>
            </div>
            {% if q.op3 != null %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios1" value="{{q.op3}}">
                    <label class="form-check-label" for="gridRadios1">
                        {{q.op3}}
                    </label>
                </div>
            {% endif %}
            {% if q.op4 != null %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{q.question}}" id="gridRadios2" value="{{q.op4}}">
                    <label class="form-check-label" for="gridRadios2">
                        {{q.op4}}
                    </label>
                </div>
            {% endif %}
            <br>
        </div>    
        {% endfor %}
        
        <input id='quiz_id' type='hidden' name="quiz_id" value={{quiz_id}}>
        <br>
        <button type="submit" id="submit">Submit</button>
    </form>
{% endif %}
{% endblock %}