{% load tags %}
<html>
    <!-- Finn's initial work 
    <h1>Quiz homepage</h1>
    <strong> {% get_question 0 %} </strong>
    <strong> {% get_answers 0 %} </strong>
    <strong> {% get_correct 0 %} </strong>
    <br></br>
    <strong> {% get_question 1 %} </strong>
    <strong> {% get_answers 1 %} </strong>
    <strong> {% get_correct 1 %} </strong>
    -->
    <!-- Below are attempts of loading answers for questions -->
    <h1>{{id}}</h1>
    {% for question in questions %}
        <h2>{{question}}</h2>
    {% endfor %}

    {% for option in answer0 %}
        {% if option != "EMPTY ANSWER" %}
            <button class="0 ">{{option}}</button>
            <br>
        {% endif %}
    {% endfor %}

    {% for option in answer1 %}
        {% if option != "EMPTY ANSWER" %}
            <button class="1 ">{{option}}</button>
            <br>
        {% endif %}
    {% endfor %}

    {% for option in answer2 %}
        {% if option != "EMPTY ANSWER" %}
            <button class="2 ">{{option}}</button>
            <br>
        {% endif %}
    {% endfor %}

    {% for option in answer3 %}
        {% if option != "EMPTY ANSWER" %}
            <button class="3 ">{{option}}</button>
            <br>
        {% endif %}
    {% endfor %}

    <table id="tblOptions">

        

    </table>
    
    </body>
    
    <!-- the javascript doesn't work yet and is just experimentation -->
</html>
