@import url(//fonts.googleapis.com/css?family=Lato:300:400);



#bin {
  margin-top: 60vh;
  height: 8%;
  width: 10%;
  position: absolute;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  /* padding: 10px; */
  overflow: hidden;
}
.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  border: 1px solid rgba(0, 0, 0, 0.8);
  /*padding: 20px;*/
  font-size: 30px;
  text-align: center;
  
}

.stop-overflow {
  overflow: hidden;
}

.draggable {
  position: absolute;
  cursor: pointer;
}

.binzone {
  height:90vh;
  width: 10vh;
}


.water {
  background: rgba(#0044f5);
}

.front {
  z-index: 1; /* set higher z-index value */
  
}


.bin {
  height: 10vh;
  width: 6vw;
  margin-top: 10%;
  z-index: 1; /* higher z-index to bring to the front */
}

body {
  background: repeating-linear-gradient(0deg, rgba(0, 88, 245 ,1) 100%, rgba(176,255,176,1) 100%);
  margin: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.trash {
  z-index: 0; /* set lower z-index value to hide behind other objects */
  position: absolute;
  top: 0; /* Initial position from the top */
  transition: top 0.2s; /* Smooth transition when the position changes */
  animation-name: revolve;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes revolve {
  0% {transform : rotate(20deg);}
  10% {transform : rotate(30deg);}
  20% {transform : rotate(40deg);}
  30% {transform : rotate(50deg);}
  40% {transform : rotate(70deg);}
  50% {transform : rotate(100deg);}
  70% {transform : rotate(140deg);}
  100% {transform : rotate(360deg);}
}

.tidyfont {
font-family: 'Lato', sans-serif;
font-size:24px;
color: #81a8f0;
}
#banner {
  /*background: url('../images/sortit_banner.png');*/
  background: repeating-linear-gradient(0deg, rgba(0,255,30,1) 0%, rgb(5, 51, 5) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height:10vh;
  width:100vw;
  word-wrap: normal /*|break-word|initial|inherit;*/
}
/* CSS for the sea */
.wave-container {
position:relative;
text-align:center;
height: 10vh;
width: 100vw;
position: absolute;
bottom: 0;
}
/*Flexbox for containers*/
.flex { 
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.waves {
position:relative;
width: 100%;
height:5vh;
margin-bottom:-7px; /*Fix for safari gap*/
min-height:30px;
max-height:50px;
}

.content {
position:relative;
height:20vh;
text-align:center;
background-color: white;
}

/* Animation */
.parallax > use {
animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
animation-delay: -2s;
animation-duration: 7s;
}
.parallax > use:nth-child(2) {
animation-delay: -3s;
animation-duration: 10s;
}
.parallax > use:nth-child(3) {
animation-delay: -4s;
animation-duration: 13s;
}
.parallax > use:nth-child(4) {
animation-delay: -5s;
animation-duration: 20s;
}
@keyframes move-forever {
0% {
transform: translate3d(-90px,0,0);
}
100% { 
  transform: translate3d(85px,0,0);
}
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
.waves {
  height:40px;
  min-height:40px;
}
.content {
  height:30vh;
}
h1 {
  font-size:24px;
}
}

#banner-info {
  
  color: #ddffdd;
  font-family: 'Bubblegum Sans';
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  /*overflow: hidden*/
}