<!--Authored by George Piper, James Sadler and Jack Hales-->

{% extends "base_gamekeeper.html" %}

{% block title %}Game Keeper Dashboard{% endblock %}

{% block index %}
<h1>Welcome to the Game Keeper Dashboard!</h1>
<br>
<p>
    <a href="/gamekeeper/quiz/create" class="button">Create a Quiz</a>
</p>
<p>
    <a href="/gamekeeper/treasurehunt/create" class="button">Create a QR Code</a>
</p>
<p>
    <a href="/gamekeeper/treasurehunt/link" class="button">Create a Treasure Hunt</a>
</p>
<p>
    <a href="/gamekeeper/logout" class="button">Sign Out</a>
</p>
{% endblock %}
