<!-- Authored by Jack Hales, George Piper, James Sadler -->

{% extends "base_accounts.html" %}

{% block title %}Sign Up{% endblock %}

{% block form %}
<h1>Sign up</h1>
<form method="post">
  {% csrf_token %}
  <p>
    <label for="id_username">Username:</label>
    {{ form.username }}
    {{ form.username.errors }}
  </p>

  <p>
    <label for="id_email">Email:</label>
    {{ form.email }}
    {{ form.email.errors }}
  </p>

  <p>
    <label for="id_first_name">First Name:</label>
    {{ form.first_name }}
    {{ form.first_name.errors }}
  </p>

  <p>
    <label for="id_last_name">Last Name:</label>
    {{ form.last_name }}
    {{ form.last_name.errors }}
  </p>

  <p>
    <label for="id_password1">Password:</label>
    {{ form.password1 }}
    {{ form.password1.errors }}
  </p>

  <p>
    <label for="id_password2">Confirm Password:</label>
    {{ form.password2 }}
    {{ form.password2.errors }}
  </p>
  
  <p>
    <button type="submit">Sign Up</button>
  </p>
</form>
<p>
  <a href="/">Back to homepage</a>
</p>
{% endblock %}